apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: eureka-server      
  name: eureka-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - image: ahhmedhs/project-eureka-server
          name: eureka-server
          ports:
            - containerPort: 8761
      restartPolicy: Always
